@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: blue;
    transition: 0.5s;
    animation: rotateLogo 2s;
}

.home {
    min-height: 100vh;
    width: 100%;
    background: url(./cakeimages/cake-5690186_1920.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    
}

nav {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
}

.list li{
    margin-right: 35px;
    animation: slideDown 2s;

}

.list a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-weight: 500;
    transition: 0.5s;
}

.home button{
    padding: 10px;
    border-radius: 14px;
    background-color: orange;
    filter: drop-shadow(0 0 20px rgb(170, 167, 162));
    transition: 1s;
    animation: sButton 2s;
}

.list a:hover{
    border-radius: 8px;
    padding: 3.5px;
    background-color: rgb(199, 165, 15);
    filter: drop-shadow(0 0 20px orange);
    
}

.home button:hover{
    background-color: transparent;
    color: orange;
    cursor: pointer;

}

.logo:hover{
    filter: drop-shadow(0 0 20px white);
}

.home h1{
    padding-top: 138px;
    padding-left: 50px;
    width: 350px;
    color: rgb(245, 245, 245);
    letter-spacing: 5px;
    font-weight: 700;
    font-family: 'Protest Riot', sans-serif;
    animation: slideLeft 2s;
}

.socialIcons{
    position: relative;
    bottom: 0px;
    align-items: center;
    padding-top: 80px;
    padding-left: 50px;
    transition: 0.5s;
}

.socialIcons i{
    margin-right: 20px;
    color: orange;
    border-radius: 18px;
    transition: transform ease 0.5s;
    animation: slideUp 2s;
}

.socialIcons i:hover{
    filter: drop-shadow(0 0 20px orange);
    transform: scale(2.4);
}

@keyframes slideUp{
    from{
        transform: translateY(300%);
    }
    
}

@keyframes slideDown{
    from{
        transform: translateY(-300%);
    }
    
}

@keyframes slideLeft{
    from{
        transform: translateX(-200%);
    }
    
}
@keyframes rotateLogo {
    from{
        transform: rotateY(360deg);
    }
}

@keyframes sButton {
    from{
        transform: rotateX(360deg);
    }
}
.categories{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.categories h1, p{
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 50px;
    align-items: center;
    font-family: 'Protest Riot', sans-serif;

}


.categories p{
    margin-top: 10px;
    color: gray;
    font-size: small;
}
.cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}


.cat .cookie img, .cat .cupcake img, .cat .cake img{  
    width: 190px;
    height: 190px;
    border-radius: 50px;
    display: flex;
    transition: transform ease 0.5s;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15px;
    transition: 0.5s;
}



.cat .cookie img:hover{
    filter: drop-shadow(0 0 20px orange);
    transform: scale(1.1);
}

.cat .cupcake img:hover{
    filter: drop-shadow(0 0 20px rgb(179, 29, 141));
    transform: scale(1.1);
}

.cat .cake img:hover{
    filter: drop-shadow(0 0 20px rgb(59, 42, 211));
    transform: scale(1.1);
}


.cat .p1, .p2, .p3{    
    width: 500px;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.cat h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    font-family: 'Protest Riot', sans-serif;
    
}

.cookie, .cake{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-left: 50px;  
    margin-right: auto; 
}

.cupcake{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-left: auto;  
    margin-right: 50px; 

}
.cat .p1:hover{
    filter: drop-shadow(0 0 20px rgb(230, 152, 7));
    
}
.cat .p2:hover{
    filter: drop-shadow(0 0 20px rgb(182, 27, 135));
}
.cat .p3:hover{
    filter: drop-shadow(0 0 20px rgb(70, 33, 172));
}

 /*                                                ----products----                               */

.products {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Protest Riot', sans-serif;
    margin-top: 35px;
}
.products p {
    display: flex;
    color: gray;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: small;
}
.products .firstThree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.products .secondThree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.productList img{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    margin: 25px;
    transition: transform ease 0.3s;
}
.productList img:hover{
    transform: scale(1.2);
}

.products h3{
    font-family: 'Protest Riot', sans-serif;
    font-weight: 750;
    font:bolder;
    font-size: medium; 
}

.products a{
    text-decoration: none;
}

.smore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 3px;
    border-width: 0px;
    background-color: rgb(221, 183, 11);
    width: 90px;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Protest Riot', sans-serif;
    transition: background-color 0.8s, color 0.8s; /* Add transition */
}

.smore:hover {
    background-color: transparent;
    color: orange;
    cursor: pointer;
}


.reviews{
    justify-content: center;
    min-height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.reviews .reviewSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.reviewContainer{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    justify-content: space-between;
    margin-top: 110px;
    font-size: small;
    
}


.reviews .reviewSection h1{
    font-family: 'Protest Riot', sans-serif;
    color: black;
}

.reviews img{
    width: 190px;
    height: 190px;
    margin-bottom: 15px;
    border-radius: 300px;
}

.reviews .reviewSection p{
    margin-top: 5px;
    color: rgb(175, 168, 168);
    font-family: 'Protest Riot', sans-serif;
}

.firstreview, .thirdreview{
    padding: 10px;
    border-radius: 45px;
    margin-bottom: 50px;
    transition: transform ease 0.34s;
}

.secondreview{
    padding: 10px;
    border-radius: 45px;
    margin-bottom: 120px;
    transition: transform ease 0.34s;
}

.firstreview:hover, .thirdreview:hover, .secondreview:hover{
    transform: scale(1.2);
}



.ending{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: auto;
    margin: 0;
    padding: 0;
    
}
.ending h2, h1, p{
    font-family: 'Protest Riot', sans-serif;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s;
}

.map:hover{
    filter: drop-shadow(0 0 20px rgb(233, 178, 75));
}

.ending p{
    margin-top: 10px;
    color: gray;
    font-size: small;
}

@media screen and (max-width: 600px) {
    .categories{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cat .cookie img, .cat .cupcake img, .cat .cake img {
        width: 150px;
        height: 150px;
        border-radius: 50px;
    }

    .cat .p1, .cat .p2, .cat .p3 {
        width: 80%;
    }

    .cookie, .cake, .cupcake {
        margin-left: 0;
        margin-right: 0;
    }

    .reviewContainer {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .reviews img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .reviewSection h1 {
        font-size: 1.5em;
    }

    .reviewContainer .firstreview{
        margin-bottom: 10px;
    }

    .reviewContainer .secondreview,
    .reviewContainer .thirdreview {
        display: none;
    }

    .products{
        flex-direction: column;
        align-items: center;
    }

    .productList .secondThree{
        display: none;
    }

    .productList .firstThree{
        flex-direction: column;
        margin-bottom: 15px;
    }

    .ending{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .map{
        width: 10px;
        width: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: none;
    }

    nav{
        padding-left: 20px;
        padding-right: 20px;
    }

    .list{
        display: none;
    }

    .logo{

        width: 65px;
        height: 65px;
        border-radius: 100px;
        margin-left: 2px;

    }

    .home button{
        margin-right: 2px;
    }

    .home h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        opacity: 85%;
    }

    .socialIcons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        padding-left: 0;
        padding-right: 0;
    }

    .home {
        min-height: auto;
        width: 100%;
        background-image: url(./cakeimages/267679475_1077943819727348_9199145087912101778_n.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-attachment:fixed;
        background-size: contain;
    }
    *{
        margin: 0;
        padding: 0;
    }
    
    


}
















